.col-lg-10{
 

    border: 1px solid  #e6e6e6!important;
    cursor: pointer;
    font-size: 25px;
    border-radius: 2%;
    background-color:  #f2f2f2;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(184,184,184,1);
    -moz-box-shadow: 0px 4px 5px -1px rgba(184,184,184,1);
    box-shadow: 0px 4px 5px -1px rgba(184,184,184,1);
    color: #474747;
    height: 50px;
    
    
    
}
.details-doctor{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    font-size: 25px;
    border-radius: 2%;
    background-color:  #f2f2f2;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(184,184,184,1);
    -moz-box-shadow: 0px 4px 5px -1px rgba(184,184,184,1);
    box-shadow: 0px 4px 5px -1px rgba(184,184,184,1);
    color: #474747;
}